body{
    font-family: "Montserrat Alternates", sans-serif;
}

header{
    justify-content: space-between;
    align-items: baseline;
}

.contact-section{
    margin-top: 5em;
    animation-name: transition;
    animation-duration: 3s;
}

.contact-section h1{
    font-size: 3em;
    color: white;
    margin-left: 1em;
}

.contact-wrapper{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}

form{
    width: 50%;
    text-align: left;
    color: white;
    font-size: 1.5em;
}

input, textarea{
    height: 2em;
    width: 80%;
}

.message-space{
    gap: 2px;
}

fieldset button{
    margin-top: 2em;
    font-family: inherit;
    font-weight: 600;
}

@media (max-width: 420px){
    .contact-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-wrapper{
        flex-direction: column;
    }

    .contact-wrapper h1{
        font-size: 2em;
        margin: 0
    }

    label{
        font-size: 1em;
    }

    form{
        width: 100%;
        align-items: center;
    }
}

footer{
    margin-top: 10em;
    position: relative;
    bottom: 0;
}