body{
    height: 100vh;
}

.game-box h1{
    font-size: 1.5em;
    color:aliceblue;
}

.restart-button{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 15px;
    padding: 0.5em;
}

.game-name{
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 2em;
}

.game-board {
    display: grid;
    grid-gap: 15px;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    perspective: 1000px;
    margin-right: 20em;
    margin-left: 20em;
    padding: 0 2em;
}

.card {
    width: 5vw;
    height: 8vw;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 1s;
}

@media (max-width: 420px){
    .game-board{
        margin: 0;
    }

    .card{
        width: 13vw;
        height: 20vw;
        font-size: 1em;
    }
}

.card.flipped{
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-front {
    display: flex;
    transform: rotateY(180deg);
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.card-back img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

footer{
    margin-top: 3em;
}
